//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
	display: inline-flex;
	padding: rem(12) 0px;
	border-radius: rem(30);
	line-height: math.div(27, 18);
	color: $white;
	text-transform: uppercase;

	&_blue {
		background-color: $blue;
	}

	&_green {
		background-color: $green;
	}

	@media (any-hover: hover) {
		&:hover {}
	}
}