//====================================================================================================

.header {
	@include adaptiveValue("padding-top", 60, 15);
	@include adaptiveValue("padding-bottom", 60, 15);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #000000;

	.menu-open & {
		@media (max-width:$mobile) {
			&::after {
				content: '';
				position: absolute;
				top: 0;
				width: 100%;
				height: 100%;
				background-color: $white;
				z-index: 12;
			}
		}
	}



	// .header__container

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: rem(15);
	}

	// .header__logo

	&__logo {
		position: relative;
		z-index: 13;

		.menu-open & {
			path {
				fill: black;

			}
		}
	}

	// .header__nav

	&__nav {
		color: $white;

		@media (max-width:$mobile) {
			position: fixed;
			top: -100%;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: $white;
			z-index: 10;
			color: $mainColor;
			display: flex;
			flex-direction: column;
			align-items: center;
			transition: all 0.3s ease 0s;
			gap: rem(30);
			padding: rem(0) rem(15) rem(50) rem(15);
			@include adaptiveValue("padding-top", 150, 80);
			overflow: auto;

			.menu-open & {
				top: 0;
			}
		}
	}

	// .header__search

	&__search {}
}

.nav-header {
	flex: 1 1 auto;
	// .nav-header__list

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		row-gap: rem(30);
		@include adaptiveValue("column-gap", 100, 40, 1920, 767.98, 1);

		@media (max-width:$mobile) {
			flex-direction: column;
		}
	}
}

.list-nav {

	// .list-nav__item

	&__item {}

	// .list-nav__link

	&__link {}
}

.search-header {
	position: relative;
	// .search-header__open

	&__open {
		cursor: pointer;

		.search-header__form_open & {
			path {
				fill: black;
			}
		}

		@media (max-width:$mobile) {
			path {
				fill: black;
			}
		}
	}

	// .search-header__form

	&__form {
		display: none;
		background-color: $white;
		border-radius: rem(3);
		@include adaptiveValue("padding", 15, 7);

		&_open {
			display: flex;
			position: absolute;
			bottom: rem(-120);
			right: 0;
			gap: rem(15);
		}

		@media (max-width:$mobile) {
			display: flex;
			border: 1px solid #000;
		}
	}

	// .search-header__input

	&__input {
		flex: 1 1 auto;
		border: 1px solid #000;
		border-radius: rem(3);
		@include adaptiveValue("padding-left", 15, 7);
		@include adaptiveValue("padding-right", 15, 7);

		@media (max-width:$mobile) {

			max-width: rem(200);
		}
	}

	// .search-header__buttons

	&__buttons {
		display: flex;
		align-items: center;
		gap: rem(10);
		@include adaptiveValue("gap", 10, 5);

		&>* {
			@include adaptiveValue("padding", 10, 5);
			max-width: 100%;
		}
	}

	// .search-header__close

	&__close {
		margin-top: rem(6);
	}
}


//====================================================================================================

//Burger

.icon-menu {
	display: none;

	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 13;

		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: $white;
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		span {
			top: calc(50% - rem(1));
		}

		.menu-open & {

			span {
				width: 0;
				background-color: $mainColor;
			}

			&::before,
			&::after {
				background-color: $mainColor;
			}

			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}

			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}