.product-main {

    // .product-main__container

    &__container {
        display: grid;
        grid-template-columns: percent(705, 1141) 1fr;
        gap: rem(50);

        @media (max-width:$mobile) {
            display: block;
        }
    }

    // .product-main__sliders

    &__sliders {
        @media (max-width:$mobile) {
            padding-bottom: rem(50);
        }
    }

    // .product-main__slider

    &__slider {
        &:not(:last-child) {
            margin-bottom: rem(20);
        }
    }

    // .product-main__wrapper

    &__wrapper {}

    // .product-main__slide

    &__slide {
        @media (min-width:$mobile) {
            padding: rem(17);
            border: 1px solid #E5E5E5;
            border-radius: rem(15);
        }
    }

    // .product-main__thumbs

    &__thumbs {}

    // .product-main__body

    &__body {}
}

.slide-product-main {

    // .slide-product-main__image-ibg

    &__image-ibg {
        padding-bottom: percent(516, 697);

        img {
            border-radius: rem(15);
        }
    }


}

.thumbs-product {

    // .thumbs-product__slider

    &__slider {}

    // .thumbs-product__wrapper

    &__wrapper {}

    // .thumbs-product__slide

    &__slide {
        @media (min-width:$mobile) {
            padding: rem(10);
            border: 1px solid #E5E5E5;
            border-radius: rem(15);
        }
    }
}

.slide-thumbs {

    // .slide-thumbs__image-ibg

    &__image-ibg {
        padding-bottom: percent(101, 153);

        img {
            border-radius: rem(15);
        }
    }
}

.body-product {
    max-width: rem(300);

    @media (max-width:$mobile) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        max-width: 100%;
    }

    // .body-product__title

    &__title {
        font-weight: 600;
        font-size: rem(28);
        line-height: math.div(42, 28);
    }

    // .body-product__subtitle

    &__subtitle {
        font-weight: 300;
        font-size: rem(20);
        line-height: math.div(30, 20);
    }

    // .body-product__price

    &__price {
        font-weight: 600;
        @include adaptiveValue("font-size", 48, 36);
        line-height: math.div(54, 48);

        &:not(:last-child) {
            margin-bottom: em(10, 48);
        }
    }

    // .body-product__features

    &__features {
        font-weight: 500;
        font-size: rem(22);
        line-height: math.div(33, 22);

        &:not(:last-child) {
            margin-bottom: rem(25);
        }
    }

    // .body-product__list

    &__list {
        &:not(:last-child) {
            margin-bottom: rem(27);
        }
    }

    // .body-product__button

    &__button {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.list-body {

    // .list-body__item

    &__item {
        &:not(:last-child) {
            margin-bottom: rem(20);
        }
    }
}

.item-list {
    display: flex;
    align-items: center;
    gap: rem(20);
    // .item-list__icon

    &__icon {}

    // .item-list__text

    &__text {
        font-weight: 300;
        font-size: rem(20);
        line-height: math.div(30, 20);
    }
}

//========================================================================================================================================================

.description-product {

    // .description-product__container

    &__container {}

    // .description-product__inner

    &__inner {
        padding: rem(22);
        border: 1px solid #E5E5E5;
        border-radius: rem(10);
    }

    // .description-product__title

    &__title {
        font-weight: 600;
        font-size: rem(28);
        line-height: math.div(42, 28);

        &:not(:last-child) {
            margin-bottom: rem(22);
        }
    }

    // .description-product__text

    &__text {
        font-weight: 300;
        font-size: rem(20);
        line-height: math.div(38, 20);
    }
}